*
!*.go
!*.py
!*.txt
!*.sh
!*.mod
!*.sum
!*.md
!*.tf
!*.tf.disabled
!Dockerfile
!*.conf
!*.html
!infra
!ec2_module
!S3Backdoor
!S3Op
!S3Agent
!containers
!LambdaBackdoor
!Gsuite
!nginx
!silent
!html
!makefile
